body {
    background-image:url("https://image.freepik.com/fotos-gratis/hacker-com-laptop_23-2147985341.jpg");
    background-size: auto 100vh;
  height: 100vh;
    }
  
  .menu {
    background-color: none;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a{
    color:orange; 
    text-decoration: none;
    }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-title{
    text-align: left;
    color: pink;
  }
  
  .site-subtitle{
    text-align:none;
    font-style: italic;
  }